.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}
.subscribe-button:hover {
  opacity: 0.6;
}
.subscribe-button:active {
  opacity: 0.3;
}  

.join-button {
  background-color: white;
  color: rgb(6, 95, 212);
  border-color: rgb(6, 95, 212);
  border-width: 1px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;

}
.join-button:hover {
  background-color: rgb(15, 15, 228);
  color: white;
}
.join-button:active {
  opacity: 0.6;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  width: 72px;
  height: 36px;
  border: none;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}
.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.tweet-button:active {
  opacity: 0.6;
}
