p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title {
  font-size: 20px;
  font-weight: bold;
  width: 330px;
  line-height: 26px;
  margin-bottom: 5px;
  
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 15;
}

.creator {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 15;
}

.description {
   font-size: 14px;
  width: 270px;
  line-height: 20px;
  color: rgb(96, 96, 96);
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.shopping:hover {
  text-decoration: underline;
  cursor: pointer;
}