.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  display: flex;
  height: 74px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgb(229, 226, 226);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;

}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}