.thumbnail {
  width: 100%;
  cursor: pointer;
}
.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}
.video-stats, .video-author {
  line-height: 5px;
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
  cursor: pointer;
}
.video-info {
  display: inline-block;
  width: 240px;
  cursor: pointer;
}
.pfp {
  width: 36px;
  border-radius: 40px;
  cursor: pointer;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-wdith: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-wdith: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-wdith: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
